
{% extends 'base_template.html' %}

{% block content %}

<p style="font-size: 18px;font-weight: normal; margin-bottom: 15px"> <i> Edit the values which are not in desired formatting in below table.</i></p>

<style>
    #submit-btn {
        position: fixed;
        bottom: 20px;
        left: 45%;
        transform: translateX(-50%);
        margin-top: 10px;
    }
    #cancel-btn {
        position: fixed;
        bottom: 20px;
        left: 55%;
        transform: translateX(-50%);
        margin-top: 10px;
    }
</style>

<p>
    <strong style="font-weight: bold;">Table Name:</strong>
    <span style="border: 1px solid #d1cece; padding: 4px;">
        {{ table_name }}
    </span>
</p>

<form action="" method="post">
    {% csrf_token %}
    <br>
    <input type="hidden" name="table_name" value="{{ table_name }}">
    <input type="hidden" name="page_t" value="">
    
    <table border="1">

        {% for row in data_dict.data %}
            <tr>
                {% for value in row %}
                    {% if value %}
                        <td>
                            <input type="text" name="{{ forloop.parentloop.counter|stringformat:'s' }}fieup{{ forloop.counter|stringformat:'s' }}" value= "{{value}}" placeholder="enter" style="text-align: center;">
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    
    <input id="submit-btn" type="submit" value="Submit">
    <input id="cancel-btn" type="submit" onclick="window.location='{% url 'ex_upload:upload' %}'; return false;" value="Cancel">
</form>

{% endblock %}
